<%- include('partials/adminHeader'); -%>

<button><a href="/createQuestion">Create Question</a></button>
<button><a href="/seeQuestions">See Questions</a></button>
<button><a href="/editQuestion">Edit Question</a></button>
<button><a href="/deleteQuestion">Delete Question</a></button>
<br><br><br>
<button><a href="/seeUsers">See Users</a></button>
<button><a href="/banUser">Ban User</a></button>
<button><a href="/unbanUser">Unban User</a></button>
<br><br><br>
<button><a href="/logs">See logs</a></button>

<%- include('partials/footer'); -%>
