<%- include('partials/adminHeader'); -%>

<form action="/koshan" method="POST">
  <h2>Delete Koshan</h2>
  <h1 style="color:tomato;">CONFIRMATION NHI MANGE GA YE</h1>
  <label for="number">Question Number</label>
  <input type="number" min="0" name="number"  />
  <button type="submit">Delete</button>
</form>

<%- include('partials/footer'); -%>

<script>
  const form = document.querySelector('form');
  form.addEventListener('submit', async (e) => {
    e.preventDefault();

    const number = form.number.value;

    try {
      const res = await fetch('/deleteKoshan', { 
        method: 'POST', 
        body: JSON.stringify({ number}),
        headers: {'Content-Type': 'application/json'}
      });
      const data = await res.json();
      if (data.err) {
        Toastify({
        backgroundColor: "linear-gradient(315deg, #3f0d12 0%, #a71d31 74%)",
        text: data.err,
        }).showToast();
      }else {
        Toastify({
        text: "Deleted Successfully",
        }).showToast();
      }
    }
    catch (err) {
      Toastify({
        text: "Was not Deleted Successfully",
        }).showToast();
      console.log(err);
    }
  });
</script>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>


<%- include('partials/footer'); -%>