<%- include('partials/adminHeader'); -%>

<form action="/koshan" method="POST">
  <h2>Edit Koshan</h2>
  <label for="number">Question Number</label>
  <input type="number" min="0" name="number"  />
  <label for="quesTitle">Question Title</label>
  <input type="text" name="quesTitle"  />
  <label for="pageTitle">Page Title</label>
  <input type="text" name="pageTitle"  />
  <label for="quesText">Question Text</label>
  <input type="text" name="quesText"  />
  <label for="imagePath">Image(name)</label>
  <input type="text" name="imagePath"  />
  <label for="comments">Comments</label>
  <input type="text" name="comments"  />
  <button type="submit">Edit</button>
</form>

<%- include('partials/footer'); -%>

<script>
  const form = document.querySelector('form');
  form.addEventListener('submit', async (e) => {
    e.preventDefault();

    const number = form.number.value;
    const quesTitle = form.quesTitle.value;
    const pageTitle = form.pageTitle.value;
    const quesText = form.quesText.value;
    const imagePath = form.imagePath.value;
    const comments = form.comments.value;

    try {
      const res = await fetch('/editKoshan', { 
        method: 'POST', 
        body: JSON.stringify({ number, quesTitle, quesText, imagePath, pageTitle, comments}),
        headers: {'Content-Type': 'application/json'}
      });
      const data = await res.json();
      if (data.err) {
        Toastify({
        backgroundColor: "linear-gradient(315deg, #3f0d12 0%, #a71d31 74%)",
        text: data.err,
        }).showToast();
      }else {
        Toastify({
        text: "Edited Successfully",
        }).showToast();
      }
    }
    catch (err) {
      Toastify({
        text: "Was not Edited Successfully",
        }).showToast();
      console.log(err);
    }
  });
</script>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
