<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <style>
        body {
            background-color: black;
        }
        .aaa {
            color: black;
        }
        h1 {
            color: white
        }
    </style>
</head>
    <body>
        <h1>brXiaik3</h1>
        <p class="aaa">2.64.64.64.64.85.91</p>
    </body>
</html>